// кольор 
$colorTextPrimary:#ffffffff;
$colorTextSecondary:#333333;
$colorTexttertiary:#666666;
$colorBtn:#ff4e50;
//шрифти 
$fontprimary:"Montserrat" , "sans-serif";
$fontsecondary:"Roboto", "sans-serif" ;

